
.member {
    float: left;
    margin: 5px auto;
    padding: 75px;
    width: 310px ;
    height: 250px;
    border: 1px solid black;
    padding-left: 16px; 
    padding-top: 15px;
    color: blue;
    background-color: #FFBB73;
	font-size: 30px;
}
h1{
	font-size: 40px;
}
